{% extends 'base.html' %}

{% block title %}
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css') }}" class="style">
{% endblock %}

{% block content %}
    <div class="grid min-h-screen items-center justify-center bg-slate-500">
        <div class="grid p-7 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
            <!-- image 1  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="{{ url_for('static', filename='images/1.jpg') }}" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold text-white">MISSION STATEMENT</h1>
                    
                </div>
            </div>
            <!-- image 1  -->
            <!-- content 1 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold text-white">MISSION STATEMENT</h1>
                    <p class="text-2xl italic text-white mb-3">
                        The Division for Sustainable Development Goals (DSDG) in the United Nations Department of Economic and Social Affairs (UNDESA) acts as the Secretariat for the SDGs, providing substantive support and capacity-building for the goals and their related thematic issues, including water, energy, climate, oceans, urbanization, transport, science and technology, the Global Sustainable Development Report (GSDR), partnerships and Small Island Developing States. DSDG plays a key role in the evaluation of UN systemwide implementation of the 2030 Agenda and on advocacy and outreach activities relating to the SDGs.
                    </p>
                </div>
            </div>
            <!-- content 1 end -->
            <!-- content 2 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold text-white">KNOWLEDGE MANAGEMENT</h1>
                    <p class="text-2xl italic text-white mb-3">
                        The Division serves Member States, Major Groups and other stakeholders, as well as the general public, by providing wide access to information and knowledge for sustainable development, through its online Sustainable Development Knowledge Platform and social media outlets.
                    </p>
                </div>
            </div>
            <!-- content 2 end -->
            <!-- image 2  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="{{ url_for('static', filename='images/2.jpg') }}" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold text-white">KNOWLEDGE MANAGEMENT</h1>
                   
                </div>
            </div>
            <!-- image 2  -->
            <!-- image 3  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="{{ url_for('static', filename='images/3.jpg') }}" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold text-white">STAKEHOLDER ENGAGEMENT, PARTNERSHIPS, COMMUNICATION AND OUTREACH</h1>
                   
                </div>
            </div>
            <!-- image 3  -->
            <!-- content 3 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold text-white">STAKEHOLDER ENGAGEMENT, PARTNERSHIPS, COMMUNICATION AND OUTREACH</h1>
                    <p class="text-2xl italic text-white mb-3">
                        Sustainable development decision making requires broad participation of all. The Division therefore aims to support the effective participation of Major Groups (as defined in Agenda 21) and other stakeholders in the UN political processes, including through efforts to build their capacity, knowledge and skills base.
                    </p>
                </div>
            </div>
            <!-- content 3 end -->
            <!-- content 4 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold text-white">INTER-AGENCY COORDINATION</h1>
                    <p class="text-2xl italic text-white mb-3">
                        The Division works to mobilize the UN system and other relevant organizations to support sustainable development strategies and the implementation of the 2030 Agenda for Sustainable Development. The Division provides Secretariats for several inter-agency mechanisms, namely UN-Water and UN-Energy, and contributes closely to the inter-agency process on Oceans and Transport. It also co-chairs an informal mechanism, the Inter-Agency Consultative Group on SIDS.
                    </p>
                </div>
            </div>
            <!-- content 4 end -->
            <!-- image 4  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="{{ url_for('static', filename='images/4.jpg') }}" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold text-white">INTER-AGENCY COORDINATION?</h1>
                    
                </div>
            </div>
            <!-- image 4  -->

        </div>

    </div>
{% endblock %}
