{% extends 'base.html' %}

{% block title %}
		<title>About Us</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/hunger.css') }}" class="style">
{% endblock %}

{% block content %}
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
							<div class="grid min-h-screen items-center justify-center bg-black">
        <div class="grid p-7 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
            <!-- image 1  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="https://blogs.worldbank.org/sites/default/files/education/Education/6%20A%20blog.jpg" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold " style="color:orange">What’s the goal here?</h1>
                    <p
                        class="text-2xl italic text-white mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        The goal of quality education is to provide accessible, inclusive, and effective learning experiences that empower individuals with essential knowledge.
                    </p>
                </div>
            </div>
            <!-- image 1  -->
            <!-- content 1 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold " style="color:orange">How can we implement Quality Education?</h1>
                    <p class="text-2xl italic text-white mb-3">
                        Implementing quality education involves designing learner-centered curricula, training qualified educators, and utilizing modern teaching methods and technology to create engaging and inclusive learning environments.
                    </p>
                </div>
            </div>
            <!-- content 1 end -->
            <!-- content 2 start  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <h1 class="text-3xl font-bold "style="color:orange">Why?</h1>
                    <p class="text-2xl italic text-white mb-3">
                        Quality education is essential for equitable development, fostering critical thinking, and empowering individuals to contribute meaningfully to society and the global economy. As a fundamental human right, the United Nations advocates for accessible, inclusive, and effective education systems worldwide to promote prosperity and social progress.
                    </p>
                </div>
            </div>
            <!-- content 2 end -->
            <!-- image 2  -->
            <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
                <div class="h-100 w-96">
                    <img class="h-full w-full object-cover group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Sustainable_Development_Goal_04QualityEducation.svg/1200px-Sustainable_Development_Goal_04QualityEducation.svg.png" alt=" Zero Hunger image">
                </div>
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[60%] group-hover:translate-y-0 transition-all">
                    <h1 class="text-3xl font-bold "style="color:orange">What’s the goal here?</h1>
                    <p
                        class="text-2xl italic text-black mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        The goal of quality education is to provide accessible, inclusive, and effective learning experiences that empower individuals with essential knowledge.
                    </p>
                </div>
            </div>
            <!-- image 2  -->

        </div>

    </div>	
							</div>
							<div class="col-md-4 col-md-push-1">
								<aside class="sidebar">
									<div class="widget">
										<h3 class="widget-title">Goals</h3>
										<ul class="discography-list">
											<li>
												<figure class="cover"><img src="http://127.0.0.1:5501/images%20for%20download/no%20poverty.jpg" alt="thumbnail 1"></figure>
												<div class="detail">
													<h3><a href="#">Quality Education</a></h3>
													<span class="year">GOAL 1</span>
													<span class="track">Inspiring lifelong learning through effective, meaningful, and inclusive education</span>
												</div>  
											</li>
											<li>
												<figure class="cover"><img src="http://127.0.0.1:5000/static/images/hunger.jpg" alt="thumbnail 2"></figure>
												<div class="detail">
													<h3><a href="#">ZERO HUNGER</a></h3>
													<span class="year">Goal 2</span>
													<span class="track">Achieving global food security through sustainable practices and equitable distribution</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="https://www.ei-ie.org/image/Quality-education.jpg/lead.jpg" alt="thumbnail 3"></figure>
												<div class="detail">
													<h3><a href="#">QUALITY EDUCATION</a></h3>
													<span class="year">Goal 4</span>
													<span class="track">Inspiring lifelong learning through effective, meaningful, and inclusive education</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="http://127.0.0.1:5000/static/images/good%20health%20and%20well%20being.jpg" alt="thumbnail 4"></figure>
												<div class="detail">
													<h3><a href="#">GOOD HEALTH AND WELL-BEING</a></h3>
													<span class="year">Goal 3</span>
													<span class="track">Promoting overall health and ensuring well-being for all individuals and communitiess</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="http://127.0.0.1:5000/static/images/climate%20action.jpg" alt="thumbnail 5"></figure>
												<div class="detail">
													<h3><a href="#">CLIMATE ACTION</a></h3>
													<span class="year">Goal 6</span>
													<span class="track">Taking urgent steps to combat climate change and its impacts for a sustainable future</span>
												</div>
											</li>
										</ul>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->
			</main>
{% endblock %}
