{% extends 'base.html' %}

{% block title %}
	<title>Our Work</title>
{% endblock %}

{% block content %}
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<div class="content">
									<h2 class="entry-title">Our Work</h2>
									<figure class="featured-image">
										<img src="{{ url_for('static', filename='images/work.jpg') }}" alt="post image">
									</figure>
									<p class="leading">
										Welcome to our webpage dedicated to the 17 Sustainable Development Goals (SDGs). These goals, established by the United Nations, represent a global call to action to end poverty, protect the planet, and ensure prosperity for all by 2030. Each goal addresses a specific challenge, from eradicating poverty and hunger to promoting gender equality and clean energy.</p>

									<p>At Infinity, we are committed to contributing to these goals through our initiatives, partnerships, and actions. Our mission aligns with these goals as we work tirelessly to create positive impact and meaningful change. Learn more about how we are striving towards each goal:</p>
									<ul>
										<li>
											No Poverty: We work to lift communities out of poverty by providing access to education, skills, and resources.
										</li>
										<li>
											Zero Hunger: Through sustainable farming and food distribution, we're fighting hunger and ensuring nutritious meals for all.
										</li>
										<li>
											Good Health and Well-being: Our efforts focus on improving healthcare access, disease prevention, and mental well-being.
										</li>
										<li>
											Quality Education: We empower individuals with quality education, paving the way for brighter futures and empowered societies.
										</li>
										<li>
											Gender Equality: Our initiatives promote equal rights and opportunities for all genders, fostering inclusive and diverse communities.
										</li>
										<li>
											Clean Water and Sanitation: We champion clean water access and sanitation to enhance health, hygiene, and overall well-being.
										</li>
										<li>
											Affordable and Clean Energy: By promoting renewable energy solutions, we contribute to a sustainable and greener future.
										</li>
										<li>
											Decent Work and Economic Growth: Our work stimulates economic growth, job creation, and fair labor practices.
										</li>
										<li>
											Industry, Innovation, and Infrastructure: We support innovation-driven development and infrastructure projects for lasting progress.
										</li>
										<li>
											Reduced Inequality: We advocate for social justice, striving to reduce inequality and promote inclusivity in all aspects of society.
										</li>
										<li>
											Sustainable Cities and Communities: We're committed to creating resilient and sustainable urban environments for generations to come.
										</li>
										<li>
											Responsible Consumption and Production: We promote responsible consumption and production practices to protect our planet's resources.
										</li>
										<li>
											Climate Action: Our efforts contribute to climate mitigation and adaptation, safeguarding our planet from the effects of climate change.
										</li>
										<li>
											Life Below Water: We work to protect marine ecosystems and promote sustainable ocean management.
										</li>
										<li>
											Life on Land: Our initiatives aim to conserve and restore terrestrial ecosystems and biodiversity.
										</li>
										<li>
											Peace and Justice Strong Institutions: We support peaceful and just societies, fostering accountable institutions for all.
										</li>
										<li>
											Partnerships to Achieve the Goal: Through collaborations and partnerships, we amplify our impact and achieve greater outcomes.
										</li>
										<li>
											Join us on this journey towards a better world. By embracing these goals and taking purposeful actions, we can create lasting positive change and build a sustainable future for all. Together, let's turn these aspirations into reality.
										</li>
									</ul>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->
			</main> <!-- .main-content -->
{% endblock %}